<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 引入上传文件 插件 -->
    <script type="text/javascript" src="/js/uploadify/jquery.uploadify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/uploadify/uploadify.css" />
    <!-- 引入art dialog -->
    <script type="text/javascript" src="/js/artDialog/dist/dialog-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/artDialog/css/ui-dialog.css" />
    <!-- 引入公司自己封装的js -->
    <!--<script type="text/javascript" src="/js/public-js.js"></script>-->
    <!-- 引入富文本编辑器ckeditor -->
    <!--<script type="text/javascript" src="/js/ckeditor/ckeditor/ckeditor.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="/js/ckeditor/ckeditor/contents.css" />-->
    <!-- bootstrap -->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css" />
    <!-- toastr -->
    <script type="text/javascript" src="/js/toastr/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/toastr/toastr.css" />
    <!-- treeView -->
    <script type="text/javascript" src="/js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-treeview/dist/bootstrap-treeview.min.css" />
    <!-- addtabs -->
    <script type="text/javascript" src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootStrap-addTabs/bootstrap.addtabs.css" />
    <!-- 引入bootstrap-fileinput -->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-fileinput/css/fileinput.min.css" />
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <!-- 引入bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-table/dist/bootstrap-table.css" />
    <script type="text/javascript" src="/js/bootstrap-table/dist/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootstrap dialog -->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-dialog/dist/css/bootstrap-dialog.css" />
    <script type="text/javascript" src="/js/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
    <!-- 引入zTree -->
    <link rel="stylesheet" type="text/css" href="/js/zTreev3/css/zTreeStyle/zTreeStyle.css" />
    <script type="text/javascript" src="/js/zTreev3/js/jquery.ztree.all.min.js"></script>
</body>
</html>